<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affiche Film</title>
</head>
<body>
    {% for affiche_url in affiche_film %}
    <img src="{{ affiche_url }}" alt="Affiche Film">
    {% endfor %}
    <form method="POST" action="/choose_movie">
    <label for="number">MOvie number:</label><br>
    <input type="text" id="titre" name="titre"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>