<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ca arrive</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f00; 
            color: #fff; 
            text-align: center;
            padding: 50px;
        }
        h1 {
            margin-bottom: 20px;
        }
        a {
            color: #fff; 
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Ca arrive</h1>
    <p>GO vers le lecteur Copie colle dans le navigateur ! https://lecteurvideo.com/embed.php?id=34346</a> </p>
</body>
</html>